{% extends 'base.html' %} {% block content %}
<section class="py-4 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h4>Boutique Alil... Simplicity at it's finest.</h4>
            <br />
            <p class="lead text-muted">Browse our extensive collection ...</p>
            <br />
            <a href="#" type="button" class="btn btn-primary btn-md my-2"
                >Create an account</a
            >
        </div>
    </div>
</section>
<div class="container bg-primary-subtle">
    <h1 class="mt-3">All Products</h1>
    {% if request.user.is_superuser %}
    <div class="text-end mb-3">
        <a href="#" class="btn btn-success">
            <i class="fas fa-plus"></i> Add Product
        </a>
    </div>
    {% endif %}

    <br />
    <hr />
    <div class="row">
        {% for product in products %}
        <div class="col-lg-3 col-md-6">
            <div class="card my-3">
                <a href="#">
                    <img
                        src="{{ product.image.url }}"
                        alt="{{ product.title }}"
                        class="card-img-top"
                    />
                </a>
                <div class="card-body">
                    <h5 class="card-text">
                        <a href="#" class="text-decoration-none text-dark"
                            >{{ product.description|truncatewords:5 }}...</a
                        >
                    </h5>
                    <h6>${{product.price}}</h6>
                    {% if product.rating %}
                    <small class="text-muted"
                        ><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                        5</small
                    >
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}
                </div>
                {% if request.user.is_superuser %}
                <div class="card-footer d-flex justify-content-between">
                    <a href="#" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a href="#" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i> Delete
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr />
{% endblock %}
