html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.homepage-main {
    background: url('/static/media/images/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%; /* Prend toute la largeur */
    color: white;
    padding: 0;
    margin: 0;
}

.contact-page form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}

.contact-page label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/*icon*/

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.fa-star {
    color: gold;
    margin-right: 9px;
}
